<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <title>涓涓商城(旗舰店)</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/weui.css"/>
  <link rel="stylesheet" href="./assets/css/example.css"/>
</head>
<body ontouchstart>
  <div id="app">
    <div class="weui-toptips weui-toptips_warn js_tooltips">{{err_msg}}</div>
    <div class="container" id="container">
      <div class="page flex js_show">
        <div class="page__db" style="height: 100%;">
          <div class="weui-tab">
            <div class="weui-tab__panel">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000" v-if="menu.cur_menu=='catalog'">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img :src="can_webp?'./assets/images/huawei_phone_320x320.webp':'./assets/images/huawei_phone_320x320.jpg'" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img :src="can_webp?'./assets/images/sony_earphone_320x320.webp':'./assets/images/sony_earphone_320x320.jpg'" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img :src="can_webp?'./assets/images/sihoo_chair_320x320.webp':'./assets/images/sihoo_chair_320x320.jpg'" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block float-left">
                      <h5>Third slide label</h5>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div><!-- end carousel slide -->
              <div class="weui-grids" v-if="menu.cur_menu=='catalog'">
                <a href="javascript:void(0)" class="weui-grid no-border p-1" :class="grids.size==12?'weui-grid-12':''"
                    @click="show_grid_info(item)" style="padding-top:15px;"
                    v-for="(item, index) in grids.items" :key="index">
                  <div class="weui-grid__icon weui-grid__icon-l mt-2">
                    <img class="round-45" :src="can_webp?item.icon.webp:item.icon.jpg" :alt="item.title">
                  </div>
                  <p class="weui-grid__label mb-1">{{item.title}}</p>
                  <span class="weui-dadge" 
                      style="position: absolute; right: 5px; bottom: -2px;" 
                      @click.stop="edit_grid_info(item)"
                      v-if="can_edit">e</span>
                </a><!-- weui-grid -->
              </div><!-- weui-grids -->
              <div class="weui-flex" v-if="menu.cur_menu=='catalog'">
                <div class="weui-flex__item">
                </div>
              </div><!-- weui-flex -->
              <div class="weui-flex" v-if="menu.cur_menu=='catalog'">
                <div class="weui-flex__item">
                  <div class="placeholder">col-6</div>
                </div>
                <div class="weui-flex__item">
                  <div style="position: relative;">
                    <div class="placeholder">col-6</div>
                    <span class="weui-dadge" style="position: absolute; right: 10px; bottom: -2px;">e</span>
                  </div>
                </div>
              </div>
              <div class="weui-flex" v-if="menu.cur_menu=='catalog'">
                <div class="weui-flex__item">
                  <div class="placeholder">col-4</div>
                </div>
                <div class="weui-flex__item">
                  <div class="placeholder">col-4</div>
                </div>
                <div class="weui-flex__item">
                  <div class="placeholder">col-4</div>
                </div>
              </div>
              <div class="weui-flex" v-if="menu.cur_menu=='catalog'">
                <div class="weui-flex__item">
                  <div class="placeholder">col-3</div>
                </div>
                <div class="weui-flex__item">
                  <div class="placeholder">col-3</div>
                </div>
                <div class="weui-flex__item">
                  <div class="placeholder">col-3</div>
                </div>
                <div class="weui-flex__item">
                  <div class="placeholder">col-3</div>
                </div>
              </div>
              <div  v-if="menu.cur_menu=='address'">
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
                <p>WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
              </div>
              <div v-if="menu.cur_menu=='about_me'">
                <img src="./assets/images/pay_qrcode.jpeg" width="100%">
                <div class="button-sp-area">
                  <a href="javascript:void();" class="weui-btn weui-btn_primary" :click="scan_qrcode()">识别二维码</a>
                </div>
              </div>
              <div class="weui-footer">
                <p class="weui-footer__text">Copyright &copy; 2020-2021 涓涓商城</p>
                <p class="weui-footer__text" v-if="debug">{{ua}}</p>
              </div>
            </div>
            <div class="weui-tabbar">
              <div class="weui-tabbar__item" :class="menu.cur_menu=='catalog'?'weui-bar__item_on':''" @click="click_menu('catalog')">
                <div style="display: inline-block; position: relative;">
                  <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                  <span class="weui-badge" style="position: absolute; top: -2px; right: -13px;">8</span>
                </div>
                <p class="weui-tabbar__label">{{menu.catalog}}</p>
              </div>
              <div class="weui-tabbar__item" :class="menu.cur_menu=='address'?'weui-bar__item_on':''" @click="click_menu('address')">
                <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">通讯录</p>
              </div>
              <div class="weui-tabbar__item">
                <div style="display: inline-block; position: relative;">
                  <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                  <span class="weui-badge weui-badge_dot" style="position: absolute; top: 0; right: -6px;"></span>
                </div>
                <p class="weui-tabbar__label">发现</p>
              </div>
              <div class="weui-tabbar__item" :class="menu.cur_menu=='about_me'?'weui-bar__item_on':''" @click="click_menu('about_me')">
                <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">我</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- <script src="./assets/js/zepto.min.js"></script> --> <!-- https://www.html.cn/doc/zeptojs_api/ -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script src="./assets/js/i18n.js"></script> <!-- https://i18njs.com/#simples_case -->
<script src="./assets/js/hashes.js"></script>
<script src="./assets/js/ua-parser.min.js"></script>
<script>
  $(function() {
    i18n.translator.add({
      values:{
        "Hello": "こんにちは",
        "Catalog": "カタログ",
      }
    });
    let app_id = 'wxb4dc1e6c1d807494';
    let noncestr = 'f709f950b583af000d8d7d7f4b0db414';
    let cur_page_url = 'http://wepy.shilikaif.com/mall/main.html';
    let jsApiList = [
      'scanQRCode', 'chooseImage', 'previewImage', 'uploadImage', 
      'downloadImage', 'getLocalImgData', 'getNetworkType', 'getLocation', 'closeWindow'];
    let app = new Vue({
      el: '#app',
      data: {
        debug: true,
        is_localhost: false,
        ua: navigator.userAgent,
        can_webp: false,
        can_edit: false,
        err_msg: '',
        wx_has_ready: false,
        jsApiChecked: null,
        wx_token: null,
        menu: {
          cur_menu: 'catalog',
          catalog: i18n("Catalog"),
          address: '通讯录',
        },
        grids: {
          size: 12,
          items: [
            {
              icon: {
                webp: './assets/images/huawei_phone_320x320.webp',
                jpg: './assets/images/huawei_phone_320x320.jpg'
              },
              title: '新人专区',
              target: ''
            },{
              icon: {
                webp: './assets/images/sony_earphone_320x320.webp',
                jpg: './assets/images/sony_earphone_320x320.jpg'
              },
              title: '热销专区',
              target: ''
            },{
              icon: {
                webp: './assets/images/huawei_phone_320x320.webp',
                jpg: './assets/images/huawei_phone_320x320.jpg'
              },
              title: '特价专区',
              target: ''
            },{
              icon: {
                webp: './assets/images/sony_earphone_320x320.webp',
                jpg: './assets/images/sony_earphone_320x320.jpg'
              },
              title: '签到有礼',
              target: ''
            }]
        }
      },
      methods: {
        click_menu: function(cur_menu) {
          let vm = this;
          vm.menu.cur_menu = cur_menu;
        },
        edit_grid_info: function(grid) {
          console.log('edit_grid_info:', grid);
        },
        show_grid_info: function(grid) {
          console.log('show_grid_info:', grid);
        },
        scan_qrcode: function() {
          wx.scanQRCode({
            needResult: 0,
            scanType: ["qrCode"]
          });
        },
        make_signature: function(timestamp) {
          let vm = this;
          let plain_str = `jsapi_ticket=${vm.wx_token.jsapi_ticket}&noncestr=${noncestr}&timestamp=${timestamp}&url=${cur_page_url}`;
          let SHA1 = new Hashes.SHA1
          SHA1.setUTF8(false);    // 可以设置是否为utf8
          let signature = SHA1.hex(plain_str);
          return signature;
        },
        getTokenStorage: function() {
          let vm = this;
          let token_str = localStorage.getItem('wx_token');
          if (token_str && token_str.length > 0) {
            vm.wx_token = JSON.parse(token_str);
          } else {
            vm.wx_token = {
              access_token: '',
              create_time: 0,
              jsapi_ticket: '',
            };
          }
          let cur_timestamp = moment().unix();
          if (cur_timestamp - vm.wx_token.create_time > 7200) {
            $.ajax({
              type: 'GET',
              async: false,
              url: 'http://wepy.shilikaif.com/api/access_token', 
              data: {
                with_ticket: 1
              },
              headers: {APPID: app_id},
              dataType: 'json', 
              success: function(res){
                console.log(res);
                if (res.code === 0) {
                  vm.wx_token.access_token = res.data.access_token;
                  vm.wx_token.create_time = res.data.create_time;
                  vm.wx_token.jsapi_ticket = res.data.jsapi_ticket;
                  localStorage.setItem('wx_token', JSON.stringify(vm.wx_token));
                } else {
                  console.log('get token error:', res.msg);
                  vm.err_msg = res.msg;
                }
              },
              error: function(xhr, errorType, error) {
                console.log('get token error:', error);
              }
            });
          }
        }
      },
      mounted: function() {
        let vm = this;
        if (vm.debug) {
          let ua_parser = new UAParser();
          console.log(ua_parser.getResult());
        }
        if (vm.is_localhost) return;
        let cur_timestamp = moment().unix();
        let signature = vm.make_signature(cur_timestamp)
        wx.config({
          debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
          appId: app_id, // 必填，公众号的唯一标识
          timestamp: cur_timestamp, // 必填，生成签名的时间戳
          nonceStr: noncestr, // 必填，生成签名的随机串
          signature: signature,// 必填，签名
          jsApiList: jsApiList // 必填，需要使用的JS接口列表
        });
        wx.ready(function() {
          wx.checkJsApi({
            jsApiList: jsApiList, // 需要检测的JS接口列表，所有JS接口列表见附录2,
            success: function(res) {
              // 以键值对的形式返回，可用的api值true，不可用为false
              // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
              vm.wx_has_ready = true;
            }
          });
        });
      },
      created: function() {
        let vm = this;
        if (!vm.is_localhost) {
          vm.getTokenStorage();
        }
      }
    });
    //  Then translate something
    console.log(i18n("Hello"));  // -> こんにちは
  });
</script>
</body>
</html>